src/test/resources/retriever/imap-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <email:imap-matcher name="matcher" subjectRegex="Email Subject" fromRegex="@mulesoft"/>

    <flow name="retrieveAndDontRead">
        <email:list-imap config-ref="config-dont-read"/>
    </flow>

    <flow name="retrieveAndMarkRead">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:mark-as-read config-ref="config" emailId="#[attributes.id]"/>
        </foreach>
    </flow>

    <flow name="retrieveAndThenExpungeDelete">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:mark-as-deleted config-ref="config" emailId="#[attributes.id]"/>
        </foreach>
        <email:expunge-folder config-ref="config"/>
    </flow>

    <flow name="retrieveAndMarkDelete">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:mark-as-deleted config-ref="config" emailId="#[attributes.id]"/>
        </foreach>
    </flow>

    <flow name="failMarkingEmail">
        <email:mark-as-deleted config-ref="config" emailId="0"/>
    </flow>

    <flow name="retrieveOnlyNotReadEmails">
        <email:list-imap config-ref="config">
            <email:imap-matcher seen="EXCLUDE"/>
        </email:list-imap>
    </flow>

    <flow name="retrieveOnlyRecentEmails">
        <email:list-imap config-ref="config">
            <email:imap-matcher recent="REQUIRE"/>
        </email:list-imap>
    </flow>

    <flow name="retrieveAndRead">
        <email:list-imap config-ref="config"/>
    </flow>

    <flow name="retrieveAndReadMaxConcurrencyEqualsOne"  maxConcurrency="1">
        <email:list-imap config-ref="config"/>
    </flow>

    <flow name="retrieveMatchingSubjectAndFromAddress">
        <email:list-imap config-ref="config" imapMatcher="matcher"/>
    </flow>

    <flow name="retrieveWithAttachments">
        <email:list-imap config-ref="config"/>
        <foreach>
            <set-variable variableName="json" value="#[write(payload.attachments['attachment.json'], 'text/plain')]" />
            <set-variable variableName="text" value="#[write(payload.attachments['text-attachment'], 'text/plain')]" />
        </foreach>
    </flow>

    <flow name="retrieveAndDelete">
        <email:list-imap config-ref="config" deleteAfterRetrieve="true"/>
    </flow>

    <flow name="retrieveWithLimit">
        <email:list-imap config-ref="config" limit="#[vars.limit]"/>
    </flow>

    <flow name="retrieveWithPageSize">
        <email:list-imap config-ref="config" pageSize="#[vars.pageSize]" imapMatcher="matcher"/>
    </flow>

    <flow name="retrieveWithPageSizeAndOffset">
        <email:list-imap config-ref="config" pageSize="#[vars.pageSize]" paginationOffset="#[vars.paginationOffset]" imapMatcher="matcher"/>
    </flow>

    <flow name="retrieveNumberedWithPageSize">
        <email:list-imap config-ref="config" pageSize="#[vars.pageSize]">
            <email:imap-matcher subjectRegex="[0-9]+"/>
        </email:list-imap>
    </flow>

    <flow name="retrieveAndDeleteSelected">
        <email:list-imap config-ref="config"/>
        <foreach>
            <choice>
                <when expression="#[attributes.id as Number > 5]">
                    <email:delete config-ref="config" emailId="#[attributes.id]"/>
                </when>
                <otherwise>
                    <logger/>
                </otherwise>
            </choice>
        </foreach>
    </flow>

    <flow name="retrieveAndDeleteIncomingAndScheduled">
        <email:list-imap config-ref="config"/>
        <email:delete config-ref="config" emailId="6"/>
    </flow>

</mule>
