src/test/resources/retriever/pop3-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <email:pop3-matcher name="matcher" subjectRegex="Email Subject" fromRegex="@mulesoft"/>

    <flow name="retrieveAndRead">
        <email:list-pop3 config-ref="config"/>
    </flow>

    <flow name="retrieveMatchingSubjectAndFromAddress">
        <email:list-pop3 config-ref="config" pop3Matcher="matcher"/>
    </flow>

    <flow name="retrieveWithAttachments">
        <email:list-pop3 config-ref="config"/>
    </flow>

    <flow name="retrieveAndDelete">
        <email:list-pop3 config-ref="config" deleteAfterRetrieve="true"/>
    </flow>

    <flow name="retrieveWithLimit">
        <email:list-pop3 config-ref="config" limit="#[vars.limit]"/>
    </flow>

    <flow name="retrieveWithPageSize">
        <email:list-pop3 config-ref="config" pageSize="#[vars.pageSize]" pop3Matcher="matcher"/>
    </flow>

    <flow name="retrieveNumberedWithPageSize">
        <email:list-pop3 config-ref="config" pageSize="#[vars.pageSize]">
            <email:pop3-matcher subjectRegex="[0-9]+"/>
        </email:list-pop3>
    </flow>
</mule>
