src/test/resources/sender/smtp-attachment-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <flow name="sendEmailWithAttachment">
        <set-payload value="#[jsonStream]"/>
        <email:send config-ref="config">
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
            <email:cc-addresses>
                <email:cc-address value="pablo.musumeci@mulesoft.com"/>
            </email:cc-addresses>
            <email:bcc-addresses>
                <email:bcc-address value="esteban.wasinger@mulesoft.com"/>
                <email:bcc-address value="alejandro.g.marra@mulesoft.com"/>
            </email:bcc-addresses>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
            <email:attachments>#[[
                {
                    id: "text-attachment",
                    contentType: "text/plain",
                    content: "This is the email text attachment"
                },
                {
                    id: "json-attachment",
                    contentType: "application/json",
                    content: payload
                },
                {
                    id: "stream-attachment",
                    contentType: "application/octet-stream",
                    content: "This is the email text attachment" as Binary
                }
                ]]
            </email:attachments>
        </email:send>
    </flow>

    <flow name="noContentTypeAttachment">
        <email:send config-ref="config">
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
            <email:attachments>#[[
                {
                id: "text-attachment",
                content: "This is the email text attachment"
                }]]
            </email:attachments>
        </email:send>
    </flow>

</mule>
