src/test/resources/sender/smtp-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">


    <flow name="sendEmail">
        <email:send config-ref="config" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
        </email:send>
    </flow>

    <flow name="sendStreamEmail">
        <email:send config-ref="config" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentType="text/plain">
                <email:content>#[vars.stream]</email:content>
            </email:body>
        </email:send>
    </flow>

    <flow name="sendJson">
        <email:send config-ref="config">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentType="text/json">
                <email:content>#[vars.json]</email:content>
            </email:body>
        </email:send>
    </flow>

    <flow name="sendEmailHeaders">
        <email:send config-ref="config-custom-headers" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:headers>
                #[{'CustomOperationHeader' : 'Dummy'}]
            </email:headers>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
        </email:send>
    </flow>

    <flow name="sendEncodedMessage">
        <email:send config-ref="config" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
            <email:body encoding="#[vars.encoding]">
                <email:content>#[payload]</email:content>
            </email:body>
        </email:send>
    </flow>

    <flow name="sendEmailWithoutBody">
        <email:send config-ref="config" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
        </email:send>
    </flow>
</mule>
