src/test/resources/sender/smtp-attachment-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <flow name="sendEmailWithAttachment">
        <set-variable variableName="json" value="#[output application/json --- {key: 'value'}]" mimeType="application/json"/>
        <set-variable variableName="textPlain" value="This is the email text attachment" mimeType="text/plain"/>
        <set-variable variableName="octetStream" value="#[vars.textPlain]" mimeType="application/octet-stream"/>

        <email:send config-ref="config">
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
            <email:cc-addresses>
                <email:cc-address value="pablo.musumeci@mulesoft.com"/>
            </email:cc-addresses>
            <email:bcc-addresses>
                <email:bcc-address value="esteban.wasinger@mulesoft.com"/>
                <email:bcc-address value="alejandro.g.marra@mulesoft.com"/>
            </email:bcc-addresses>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
            <email:attachments>#[
                {
                'text-attachment' : vars.textPlain,
                'json-attachment' : vars.json,
                'stream-attachment' : vars.octetStream
                }]
            </email:attachments>
        </email:send>
    </flow>

    <flow name="noContentTypeAttachment">
        <set-variable variableName="textAttachment" value="This is the email text attachment" mimeType="text/plain"/>
        <email:send config-ref="config">
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
            <email:attachments>
                #[{'text-attachment' : vars.textAttachment}]
            </email:attachments>
        </email:send>
    </flow>

    <flow name="sendEmailWithLargePayloads">
        <email:send config-ref="config" subject="Email Subject" attachmentsContentTransferEncoding="#[vars.contentTransferEncoding]">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentTransferEncoding="#[vars.contentTransferEncoding]">
                <email:content>#[payload]</email:content>
            </email:body>
            <email:attachments>
                #[{
                    'zip.zip' : vars.zip,
                    'image.jpg' : vars.jpg,
                    'text.txt' : vars.text
                }]
            </email:attachments>
        </email:send>
    </flow>

    <flow name="sendZipFile">
        <email:send config-ref="config" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:body contentType="text/plain">
                <email:content>Email Content</email:content>
            </email:body>
            <email:attachments>
                #[{zipFile : vars.zipFile}]
            </email:attachments>
        </email:send>
    </flow>

</mule>
