src/test/munit/imap-listener-deleted-matcher-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
      http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <munit:config name="imap-listener-deleted-matcher-test-case.xml">
        <munit:parameterizations>
            <munit:parameterization name="imap-local">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imap-config"/>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                    <munit:parameter propertyName="remoteSearch" value="false"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="imap-remote">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imap-config"/>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                    <munit:parameter propertyName="remoteSearch" value="true"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="imaps">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imaps-config"/>
                    <munit:parameter propertyName="protocol" value="imaps"/>
                    <munit:parameter propertyName="startMethod" value="startSecure(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <munit:dynamic-port propertyName="imap.server.port" min="1024" max="64000"/>

    <!-- Configs -->

    <email:imap-config name="imap-config">
        <email:imap-connection host="127.0.0.1" port="${imap.server.port}" user="juan.desimoni@mulesoft.com" password="password"/>
    </email:imap-config>

    <email:imap-config name="imaps-config">
        <email:imaps-connection host="127.0.0.1" port="${imap.server.port}" password="password" user="juan.desimoni@mulesoft.com">
            <tls:context enabledProtocols="TLSv1.2">
                <tls:trust-store path="${env.greenmail.keystore.name}" password="changeit"/>
            </tls:context>
        </email:imaps-connection>
    </email:imap-config>

    <!-- Setup/Dispose -->

    <munit:before-suite name="setUpServer">
        <java:invoke-static class="${serverName}" method="${startMethod}">
            <java:args>
                #[{
                arg0: ${imap.server.port}
                }]
            </java:args>
        </java:invoke-static>
    </munit:before-suite>

    <munit:before-test name="populate-mailbox">
        <!--send 10 emails -->
        <set-variable variableName="subject" value="Mark as deleted" />
        <set-variable variableName="emailCount" value="10" />
        <flow-ref name="sendEmails" />

        <!--mark them as deleted-->
        <java:invoke-static class="${serverName}" method="markAllAsDeleted()"/>

        <munit-tools:store key="messages">
            <munit-tools:value>#[[]]</munit-tools:value>
        </munit-tools:store>
    </munit:before-test>

    <munit:after-test name="cleanUpServer">
        <java:invoke-static class="${serverName}" method="clean()"/>
    </munit:after-test>

    <munit:after-suite name="shutDownServer">
        <java:invoke-static class="${serverName}" method="stop()"/>
    </munit:after-suite>

    <!-- Test polled emails with DELETED=REQUIRED filter only returns deleted emails -->
    <munit:test name="pollOnlyForDeleted">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-only-deleted-emails-imap"/>
        </munit:enable-flow-sources>

        <munit:behavior>
            <set-variable variableName="subject" value="New Email" />
            <set-variable variableName="emailCount" value="5" />
        </munit:behavior>

        <munit:execution>
            <!--send new emails -->
            <flow-ref name="sendEmails" />

            <until-successful maxRetries="150" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="10" max="10"/>
            </until-successful>

            <!--send new emails -->
            <flow-ref name="sendEmails" />
        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="150" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="10" max="10"/>
                <munit-tools:assert-that expression="#[payload.attributes.subject]" is="#[MunitTools::everyItem(MunitTools::containsString('deleted'))]"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="trigger-only-deleted-emails-imap" maxConcurrency="1">
        <email:listener-imap config-ref="${config}" remoteSearchFilterEnabled="${remoteSearch}">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
            <email:imap-matcher deleted="REQUIRE" />
        </email:listener-imap>
        <flow-ref name="storeMessages"/>
    </flow>


    <!-- Test polled emails with DELETED=INCLUDE returns all emails including deleted emails -->
    <munit:test name="pollOnlyIncludingDeleted">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-only-include-deleted-emails-imap"/>
        </munit:enable-flow-sources>

        <munit:behavior>
            <set-variable variableName="emailCount" value="10" />
        </munit:behavior>

        <munit:execution>
            <!--send new emails -->
            <set-variable variableName="subject" value="New Email" />
            <flow-ref name="sendEmails" />
            <java:invoke-static class="${serverName}" method="replyToAll()"/>

        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="150" millisBetweenRetries="1000">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="15" max="20"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="trigger-only-include-deleted-emails-imap" maxConcurrency="1">
        <email:listener-imap config-ref="${config}" remoteSearchFilterEnabled="${remoteSearch}" >
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
            <email:imap-matcher deleted="INCLUDE" />
        </email:listener-imap>
        <flow-ref name="storeMessages"/>
    </flow>

    <!-- Test polled emails with DELETED=EXCLUDE filter includes non-deleted emails only -->
    <munit:test name="pollExcludingDeleted">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-exclude-deleted-emails-imap"/>
        </munit:enable-flow-sources>

        <munit:behavior>
            <set-variable variableName="subject" value="New Email" />
            <set-variable variableName="emailCount" value="5" />
        </munit:behavior>

        <munit:execution>
            <!--send new emails -->
            <flow-ref name="sendEmails" />

            <until-successful maxRetries="150" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="5" max="5"/>
            </until-successful>

            <!--send new emails -->
            <flow-ref name="sendEmails" />
        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="150" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="10" max="10"/>
                <munit-tools:assert-that expression="#[payload.attributes.subject]" is="#[MunitTools::everyItem(MunitTools::containsString('New Email'))]"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="trigger-exclude-deleted-emails-imap" maxConcurrency="1">
        <email:listener-imap config-ref="${config}" remoteSearchFilterEnabled="${remoteSearch}">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
            <email:imap-matcher deleted="EXCLUDE"/>
        </email:listener-imap>
        <flow-ref name="storeMessages"/>
    </flow>

    <!--COMMON FLOWS-->

    <flow name="sendEmails">
        <foreach collection="#[1 to vars.emailCount]">
            <java:invoke-static class="${serverName}" method="sendEmailWithSubject(String, String)">
                <java:args>
                    #[{
                    arg0: vars.subject,
                    arg1: 'eugenia.mariotti@mulesoft.com'
                    }]
                </java:args>
            </java:invoke-static>
        </foreach>
    </flow>
</mule>