src/test/munit/imap-listener-matcher-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
      http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <munit:config name="imap-listener-matcher-test-case.xml">
        <munit:parameterizations>
            <munit:parameterization name="imap-local">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imap-config"/>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                    <munit:parameter propertyName="remoteSearch" value="false"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="imap-remote">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imap-config"/>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                    <munit:parameter propertyName="remoteSearch" value="true"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="imaps">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imaps-config"/>
                    <munit:parameter propertyName="protocol" value="imaps"/>
                    <munit:parameter propertyName="startMethod" value="startSecure(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <munit:dynamic-port propertyName="imap.server.port" min="1024" max="64000"/>

    <!-- Configs -->

    <email:imap-config name="imap-config">
        <email:imap-connection host="127.0.0.1" port="${imap.server.port}" user="juan.desimoni@mulesoft.com" password="password"/>
    </email:imap-config>


    <email:imap-config name="imaps-config">
        <email:imaps-connection host="127.0.0.1" port="${imap.server.port}" password="password" user="juan.desimoni@mulesoft.com">
            <tls:context enabledProtocols="TLSv1.2">
                <tls:trust-store path="${env.greenmail.keystore.path}" password="changeit"/>
            </tls:context>
        </email:imaps-connection>
    </email:imap-config>

    <!-- Setup/Dispose -->

    <munit:before-suite name="setUpServer">
        <java:invoke-static class="${serverName}" method="${startMethod}">
            <java:args>
                #[{
                arg0: ${imap.server.port}
                }]
            </java:args>
        </java:invoke-static>
    </munit:before-suite>

    <munit:before-test name="populate-mailbox">
        <set-variable variableName="emailCount" value="10" />

        <set-variable variableName="subject" value="Mark as deleted" />
        <flow-ref name="sendEmails" />

        <set-variable variableName="subject" value="Mark as seen, answered" />
        <flow-ref name="sendEmails" />

        <set-variable variableName="subject" value="Mark as answered, seen" />
        <flow-ref name="sendEmails" />

        <set-variable variableName="subject" value="Mark as recent" />
        <flow-ref name="sendEmails" />

        <!--mark them as seen, recent, answered and deleted-->
        <java:invoke-static class="${serverName}" method="markAllAsAnsweredWhenSubject(String)">
            <java:args>#[{
                arg0: 'answered'
                }]</java:args>
        </java:invoke-static>

        <java:invoke-static class="${serverName}" method="markAllAsSeenWhenSubject(String)">
            <java:args>#[{
                arg0: 'seen'
                }]</java:args>
        </java:invoke-static>

        <java:invoke-static class="${serverName}" method="markAllAsDeletedWhenSubject(String)">
            <java:args>#[{
                arg0: 'deleted'
                }]</java:args>
        </java:invoke-static>

        <java:invoke-static class="${serverName}" method="markAllAsRecentWhenSubject(String)">
            <java:args>#[{
                arg0: 'recent'
                }]</java:args>
        </java:invoke-static>

        <munit-tools:store key="messages">
            <munit-tools:value>#[[]]</munit-tools:value>
        </munit-tools:store>
    </munit:before-test>

    <munit:after-test name="cleanUpServer">
        <java:invoke-static class="${serverName}" method="clean()"/>
    </munit:after-test>

    <munit:after-suite name="shutDownServer">
        <java:invoke-static class="${serverName}" method="stop()"/>
    </munit:after-suite>


    <!-- Test polled emails with no filter includes all email -->
    <munit:test name="pollWithoutMatcherIncludesAll">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-on-new-emails-imap"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable variableName="emailCount" value="5" />
            <flow-ref name="sendEmails"/>
        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="100" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="45" max="45"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="trigger-on-new-emails-imap" maxConcurrency="1">
        <email:listener-imap config-ref="${config}">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
        </email:listener-imap>
        <flow-ref name="storeMessages"/>
    </flow>

    <!-- Test polled emails with EXCLUDE filter excludes all email -->
    <munit:test name="pollWithOnlyExcludeMatcherExcludesAllEmail">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-on-new-emails-exclude-all-imap"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable variableName="emailCount" value="5" />
        </munit:execution>
        <munit:validation>
            <flow-ref name="sendEmails"/>

            <until-successful maxRetries="100" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="0" max="0"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="trigger-on-new-emails-exclude-all-imap" maxConcurrency="1">
        <email:listener-imap config-ref="${config}" remoteSearchFilterEnabled="${remoteSearch}">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
            <email:imap-matcher deleted="EXCLUDE" seen="EXCLUDE" recent="EXCLUDE" answered="EXCLUDE"/>
        </email:listener-imap>
        <flow-ref name="storeMessages"/>
    </flow>

    <!-- Test polled emails with DELETED=EXCLUDE, SEEN=REQUIRED, RECENT=EXCLUDE, ANSWERED=REQUIRED -->
    <munit:test name="pollRequireSeenAnsweredButExcludeDeletedRecentEmail">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-exclude-deleted-recent-require-seen-answered-imap"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable variableName="emailCount" value="5" />
        </munit:execution>
        <munit:validation>
            <flow-ref name="sendEmails"/>

            <until-successful maxRetries="100" millisBetweenRetries="1000">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="20" max="20"/>
                <munit-tools:assert-that expression="#[payload.attributes.subject]" is="#[MunitTools::not(MunitTools::hasValue('Mark as deleted'))]"/>
                <munit-tools:assert-that expression="#[payload.attributes.subject]" is="#[MunitTools::not(MunitTools::hasValue('Mark as recent'))]"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="trigger-exclude-deleted-recent-require-seen-answered-imap" maxConcurrency="1">
        <email:listener-imap config-ref="${config}" remoteSearchFilterEnabled="${remoteSearch}">
            <scheduling-strategy>
                <fixed-frequency frequency="500"/>
            </scheduling-strategy>
            <email:imap-matcher recent="EXCLUDE" deleted="EXCLUDE" answered="REQUIRE" seen="REQUIRE"/>
        </email:listener-imap>
        <flow-ref name="storeMessages"/>
    </flow>

    <!-- SHARED FLOWS -->
    <flow name="sendEmails">
        <foreach collection="#[1 to vars.emailCount]">
            <java:invoke-static class="${serverName}" method="sendEmailWithSubject(String, String)">
                <java:args>
                    #[{
                    arg0: vars.subject,
                    arg1: 'juan.desimoni@mulesoft.com'
                    }]
                </java:args>
            </java:invoke-static>
        </foreach>
    </flow>
</mule>