src/test/munit/retriever-attachment-subject-name-test-cases.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
      http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
      http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <munit:config name="retriever-attachment-subject-name-test-cases.xml">
        <munit:parameterizations>
            <munit:parameterization name="imap">
                <munit:parameters>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="retriever-config" value="imap-CommonTests"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="imaps">
                <munit:parameters>
                    <munit:parameter propertyName="protocol" value="imaps"/>
                    <munit:parameter propertyName="retriever-config" value="imaps-CommonTests"/>
                    <munit:parameter propertyName="startMethod" value="startSecure(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="pop3">
                <munit:parameters>
                    <munit:parameter propertyName="protocol" value="pop3"/>
                    <munit:parameter propertyName="retriever-config" value="pop3-CommonTests"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestPop3Server"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="pop3s">
                <munit:parameters>
                    <munit:parameter propertyName="protocol" value="pop3s"/>
                    <munit:parameter propertyName="retriever-config" value="pop3s-CommonTests"/>
                    <munit:parameter propertyName="startMethod" value="startSecure(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestPop3Server"/>
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <!-- Setup/Dispose -->
    <munit:before-suite name="setUpRetrieverServer">
        <java:invoke-static class="${serverName}" method="${startMethod}">
            <java:args>
                #[{
                arg0: ${retriever.port}
                }]
            </java:args>
        </java:invoke-static>
    </munit:before-suite>

    <munit:before-test name="populateRetrieverServer">
        <munit-tools:store key="messages">
            <munit-tools:value>#[[]]</munit-tools:value>
        </munit-tools:store>
    </munit:before-test>

    <munit:after-test name="cleanUpRetrieverServer">
        <java:invoke-static class="${serverName}" method="setUserWithNormalPassword()"/>
        <java:invoke-static class="${serverName}" method="clean()"/>
    </munit:after-test>

    <munit:after-suite name="shutDownRetrieverServer">
        <java:invoke-static class="${serverName}" method="stop()"/>
    </munit:after-suite>

    <!-- Ignored until https://www.mulesoft.org/jira/browse/MULE-16413 gets fixed -->
    <!-- Attachment streaming is not working for Imap/Imaps -->
    <munit:test name="retrieveEmailWithAttachments_SubjectStrategy" ignore="true">
        <munit:execution>
            <java:invoke-static class="${serverName}" method="clean()"/>
            <java:invoke-static class="${serverName}" method="sendRFC822TestMessage()"/>
        </munit:execution>
        <munit:validation>
            <flow-ref name="list-attachment-name-from-subject-${protocol}" />
            <foreach>
                <set-variable variableName="attachment" value="#[write(payload.attachments.'Email Subject', 'text/plain')]" />
                <munit-tools:assert-that expression="#[vars.attachment]" is="#[MunitTools::notNullValue()]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <!-- Retrieve using attachment subject strategy -->
    <flow name="list-attachment-name-from-subject-imap">
        <email:list-imap config-ref="imap-attachment-name-from-subject"/>
    </flow>

    <flow name="list-attachment-name-from-subject-imaps">
        <email:list-imap config-ref="imaps-attachment-name-from-subject"/>
    </flow>

    <flow name="list-attachment-name-from-subject-pop3">
        <email:list-pop3 config-ref="pop3-attachment-name-from-subject"/>
    </flow>

    <flow name="list-attachment-name-from-subject-pop3s">
        <email:list-pop3 config-ref="pop3s-attachment-name-from-subject"/>
    </flow>

    <email:pop3-config name="pop3-attachment-name-from-subject" attachmentNamingStrategy="NAME_HEADERS_SUBJECT">
        <email:pop3-connection host="127.0.0.1" port="${retriever.port}" password="password"
                               user="juan.desimoni@mulesoft.com"/>
    </email:pop3-config>

    <email:pop3-config name="pop3s-attachment-name-from-subject" attachmentNamingStrategy="NAME_HEADERS_SUBJECT">
        <email:pop3s-connection host="127.0.0.1" port="${retriever.port}" password="password"
                                user="juan.desimoni@mulesoft.com">
            <tls:context enabledProtocols="TLSv1.2,SSLv3">
                <tls:trust-store path="greenmail.jks" password="changeit"/>
            </tls:context>
        </email:pop3s-connection>
    </email:pop3-config>

    <email:imap-config name="imap-attachment-name-from-subject" attachmentNamingStrategy="NAME_HEADERS_SUBJECT">
        <email:imap-connection host="127.0.0.1" port="${retriever.port}" password="password"
                               user="juan.desimoni@mulesoft.com"/>
    </email:imap-config>

    <email:imap-config name="imaps-attachment-name-from-subject" attachmentNamingStrategy="NAME_HEADERS_SUBJECT">
        <email:imaps-connection host="127.0.0.1" port="${retriever.port}" password="password"
                                user="juan.desimoni@mulesoft.com">
            <tls:context enabledProtocols="TLSv1.2,SSLv3">
                <tls:trust-store path="greenmail.jks" password="changeit"/>
            </tls:context>
        </email:imaps-connection>
    </email:imap-config>

</mule>