src/test/munit/trigger-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
      http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
      http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <munit:config name="trigger-test-case.xml">
        <munit:parameterizations>
            <munit:parameterization name="imap">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imap-config"/>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="imap-secure">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="imaps-config"/>
                    <munit:parameter propertyName="protocol" value="imap"/>
                    <munit:parameter propertyName="startMethod" value="startSecure(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestIMAPServer"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="pop3">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="pop3-config"/>
                    <munit:parameter propertyName="protocol" value="pop3"/>
                    <munit:parameter propertyName="startMethod" value="start(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestPop3Server"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="pop3-secure">
                <munit:parameters>
                    <munit:parameter propertyName="config" value="pop3s-config"/>
                    <munit:parameter propertyName="protocol" value="pop3"/>
                    <munit:parameter propertyName="startMethod" value="startSecure(Integer)"/>
                    <munit:parameter propertyName="serverName" value="org.mule.email.mtf.TestPop3Server"/>
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <munit:dynamic-port propertyName="server.port" min="1024" max="64000"/>

    <!-- Configs -->

    <email:pop3-config name="pop3s-config">
        <email:pop3s-connection host="127.0.0.1" port="${server.port}" password="password"
                                user="juan.desimoni@mulesoft.com">
            <tls:context enabledProtocols="TLSv1.2">
                <tls:trust-store path="${greenmail.keystore.name}" password="changeit"/>
            </tls:context>
        </email:pop3s-connection>
    </email:pop3-config>

    <email:pop3-config name="pop3-config">
        <email:pop3-connection host="127.0.0.1" port="${server.port}" user="juan.desimoni@mulesoft.com"
                               password="password"/>
    </email:pop3-config>

    <email:imap-config name="imap-config">
        <email:imap-connection host="127.0.0.1" port="${server.port}" user="juan.desimoni@mulesoft.com"
                               password="password"/>
    </email:imap-config>

    <email:imap-config name="imaps-config">
        <email:imaps-connection host="127.0.0.1" port="${server.port}" password="password"
                                user="juan.desimoni@mulesoft.com">
            <tls:context enabledProtocols="TLSv1.2">
                <tls:trust-store path="${greenmail.keystore.name}" password="changeit"/>
            </tls:context>
        </email:imaps-connection>
    </email:imap-config>

    <!-- Setup/Dispose -->

    <munit:before-suite name="setUpServer">
        <java:invoke-static class="${serverName}" method="${startMethod}">
            <java:args>
                #[{
                arg0: ${server.port}
                }]
            </java:args>
        </java:invoke-static>
    </munit:before-suite>

    <munit:before-test name="populate-mailbox">
        <foreach collection="#[1 to 10]">
            <java:invoke-static class="${serverName}" method="sendEmail()"/>
        </foreach>
        <munit-tools:store key="messages">
            <munit-tools:value>#[[]]</munit-tools:value>
        </munit-tools:store>
        <munit-tools:store key="attachments">
            <munit-tools:value>#[[]]</munit-tools:value>
        </munit-tools:store>
    </munit:before-test>

    <munit:after-test name="cleanUpServer">
        <java:invoke-static class="${serverName}" method="clean()"/>
    </munit:after-test>

    <munit:after-suite name="shutDownServer">
        <java:invoke-static class="${serverName}" method="stop()"/>
    </munit:after-suite>

    <!-- Test messages being polled and assert its content -->
    <munit:test name="check-messages-content">

        <munit:enable-flow-sources>
            <munit:enable-flow-source value="trigger-simple-${protocol}"/>
        </munit:enable-flow-sources>

        <munit:execution>
            <until-successful maxRetries="100" millisBetweenRetries="500">
                <munit-tools:retrieve key="messages"/>
                <validation:validate-size value="#[payload]" min="10" max="10"/>
            </until-successful>
        </munit:execution>

        <munit:validation>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::notNullValue()]"/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::hasSize(10)]"/>
            <foreach>
                <munit-tools:assert-equals actual="#[payload.body]" expected="#['Email Content']"/>
            </foreach>
        </munit:validation>

    </munit:test>

    <flow name="trigger-simple-imap" maxConcurrency="1">

        <email:listener-imap config-ref="${config}">
            <scheduling-strategy>
                <fixed-frequency frequency="2000"/>
            </scheduling-strategy>
        </email:listener-imap>

        <flow-ref name="storeMessages"/>
    </flow>

    <flow name="trigger-simple-pop3" maxConcurrency="1">
        <email:listener-pop3 config-ref="${config}">
            <scheduling-strategy>
                <fixed-frequency frequency="2000"/>
            </scheduling-strategy>
        </email:listener-pop3>

        <flow-ref name="storeMessages"/>
    </flow>

</mule>
